*{padding:0;margin:0;}
li{list-style:none;}
img {border:0;vertical-align:middle;}
body {font-family: Calibri, Arial, Helvetica, sans-serif, "宋体";height:100%;}
a{color:#000;text-decoration: none;}
a:hover {text-decoration: underline;color: #f08300;}
a {	font-size: 12px;color: #FFFFFF;}
.warp{width:1280px;background:url(topbg.jpg) no-repeat #dcdcdc;margin:0 auto;}
.num{padding:160px 0 0 185px;}
.nav{clear:both;padding:0 0 28px 440px;height:35px;position:relative;}
.nav ul li{float:left;margin:10px 26px;}
.nav ul .a1{position:absolute;left:220px;top:0;}
.nav ul .a1 a{display:block;width:120px;height:25px;}
.manu{clear:both;background:url(centerbg.jpg) repeat-y -2px 0;width:900px;padding:0 33px;margin:0 auto;}
.manu p{line-height:2.1em;text-align:justify;text-justify:inter-ideograph;}
.jj{height:346px;padding:0 20px;}
.jj p{width:320px;float:left;text-indent:33px;font-size:12px;}
.jj img{float:right;}
.padin{padding-top:15px;}
.jj2{background:url(qtbg.jpg) no-repeat 0 346px;padding:0 0 295px;}
.qt{width:900px;height:401px;padding:54px 0 0;line-height:1.5em;font-size:12px;}
.qt dl{width:274px;min-height:104px;float:left;margin:10px 0 0 20px;}
.qt dl dt{width:66px;float:left;}
.qt dl dd{width:205px;float:right;}
.qt .w{width:560px;}
.qt .w dd{width:490px;}
#footer {background:url(../footer.jpg) no-repeat;width:1280px;height:53px;margin:0 auto;overflow:hidden;}
.fc{background:url(fcbg1.jpg) no-repeat;width:900px;height:840px;padding:0;}
.fc .p{width:333px;padding:78px 0 0 559px;color:#fff;font-size:14px;line-height:1.7em;}
.fc .p ul{margin-left:24px;}
.fc .p ul li{background:url(libg.jpg) no-repeat 0 8px;padding-left:20px;}
.kt{background:url(hxkt.jpg) no-repeat 20px 0;width:350px;margin:246px 0 0 562px;padding:78px 0 0;}
.kt ul li{height:20px;width:318px;background:#fcd12c;padding-left:20px;margin-top:20px;}